/* style.css */

.card {
  background: white;
  max-width: 950px; /* width */
  min-height: 250px; /* height */
  margin: -3rem auto 4rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 3rd workshop on ... (VISION) */
.card h2 {
  font-size: 1.85rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.vision-subtitle {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 0.5rem;
}

.muted {
  color: #4d4d4d;
  font-weight: bold;
}

.highlight {
  color: #e67300;
  font-weight: bold;
}


.location-text {
  font-size: 1.2em; /* front size */
  font-weight: normal;
  margin-bottom: 6px;
}

.time-text {
  font-size: 0.9em; 
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #fff;
  color: #000;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.4rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.65rem 1rem;
  margin: 0;
  gap: 1.65rem
}

nav li {
  margin: 0 2.2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: 450;
}

nav a.active {
  color: #cc6600;
  font-weight: bold;
}

.hero {
  height: 75vh;
  background: url('assets/imgs/vision_25_logo.svg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-logo {
  width: 150px;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-size: 1.8rem;
  margin-top: 0.5rem;
}


